* {
  margin: 0;
  padding: 0;
}

body {
font-family: Tahoma, sans-serif;
}

#bottomBar{
  outline: solid #8ec9ff 2px;
  width: 100%;
  position:absolute;
  bottom:0px;
  height:30px;
  background-color:#3B77BC;
}

#startBtn{
  border: solid 2px #4e4e4e56;
  width: 80px;
  height: 26px;
  background-color: #81C046;
  border-radius: 1px 20px 20px 1px;
  color:white;
}

#xpLogo{
  width: 25px;
  margin-left:5px;
}

#xpLogo, #startText{
  display:inline;
  vertical-align: middle;

}

#startText{
  font-size: 17px;
  font-style: italic;
}

body {
 background-image: url("../img/xp-background.jpg");
 background-color: #cccccc;
 background-size: cover;
 background-repeat:no-repeat;
 background-position:center;

}



#startBtn, #iconTray{
  display:inline-flex
}

#iconTray{
  border:solid 1px #000000;
  width: 50px;
  height:26px;
  float:right;
  background-color:#5b97dc;
  
}