body{
    background-color: rgb(0 0 0);
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;


    
}
#map { 
    
 position: absolute; 
 top: 0; 
 bottom: 0; 
 width: 100%; 

}
    

}
h1{
    color:#65ffff;
    
}
.mainCont{
    /* outline:2px solid white; */
    height:250px;
    width:250px;
    margin: 30px;
    position:absolute;
    top:0;



}

.floatRight{
    float:right;
    right:0;
}
.floatLeft{
    float:left;
    left:0;
}

#myChart{
    visibility:hidden;
}