/* div{
    outline: black solid 1px;
} */

html{
    margin-top: 40px;
}
textarea {
    resize: none;
  }
  
  .mainCont{
      height: 82.3%;
      width: 80%;
      
  }
  
  .firstLevel{
      height: 200px;
      
  }
  
  .nameCard{
      display: inline-block;
      height: 180px;
      width: 130px;
      margin: 5px;
      margin-top: 10px;
      outline: solid black 2px;
      vertical-align: bottom;
  }
  
  #group1{
      background-color: #7F58AF;
  }
  
  #group2{
      background-color:#64C5EB;
  }
  
  #group3{
      background-color:#E84D8e;
  }
  
  #group4{
      background-color:#FEB326;
  }
  
  .inputName{
      display: inline-block;
      height: 180px;
      width: 130px;
      margin: 5px;
      margin-top: 10px;
  }
  
  .inputBtn{
    padding: 5px;
    width: 100px;
    border: 2px solid #43A047;
    background-color: white;
    color: #43A047;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 40px;
    
  }

  .printBtn{
    padding: 5px;
    width: 100px;
    border: 2px solid #436ba0;
    background-color: white;
    color: #436ba0;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 40px;
    
  }
  
  .firstLevel, .secondLevel, .thirdLevel{
    padding: 10px;
  }
  
  
